<html lang="en">

<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<h1 style="text-align:center;">SUPPLY NOTE ASSIGNMENT</h1>
<div class="box">
    <h1>Log In</h1>
    <form method="post">
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <br>
        <input type="submit" value="LogIn">
        <br>
        <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            New User? &nbsp; &nbsp; &nbsp; <a href={{url_for('register')}}>Register</a></p>
    </form>
</div>

<div class="footer">
    <h4>Made by <a href="https://github.com/rishik-vempati">Rishik Vempati</a></h4>
</div>
</body>

</html>