<html lang="en">

<head>
    <link href="static/main.css" rel="stylesheet" type="text/css" media="all">
</head>

<body>
<h1 style="text-align:center;">REGISTRATION</h1>
<div class="box">
    <h1>Sign Up</h1>
    <form action="/register" method="post">
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <br>
        <input type="password" name="confirm_password" id="confirm_password" placeholder="Confirm Password" required/>		
		<br>
        <input type="submit" value="Register">
    </form>
</div>
</body>

</html>